@import "../collors/collors.scss";

.section-1{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15vh;
    .form-container{
        background-color: $backgroundColorFormContainer;
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        max-width: 700px;
        width: 80%;
        border-radius: 0.5rem;
        justify-content: center;
        align-items: center;
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.438);
        position: relative;
        .form{
            display: flex;
            flex-direction: column;
            padding: 10px;
            input, button{
                font-size: 2rem;
                padding: 1rem;
                margin-bottom: 2rem;
                width: 100%;
                border: none;
            }
            label{
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }
            input{
                background-color: chartreuse;
            }
            button{
                margin-top: 1rem;
            }
        }
    }
}
