.section-1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    // background-color: red;
    align-items: center;
    margin-top: auto;
    position: relative;

    .form-container{
        background-color: $backgroundColorFormContainer;
        display: flex;
        flex-direction: column;
        padding: 2rem 0 2rem 4rem;
        max-width: 700px;
        width: 100%;
        border-radius: 8px;
        align-items: start;
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.438);
        position: relative;
        color: $White;
        h1{
            font-size: 4rem;
            padding: 1rem 0;
        }
        .form{
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 60%;
            input, button{
                font-size: 2rem;
                padding: 1rem;
                margin-bottom: 2rem;
                width: 100%;
                border: none;
            }
            label{
                font-size: 2rem;
                margin-bottom: 1rem;
            }
            input{
                border-radius: 8px;
                background-color: $White;
            }
            button{
                font-size: 2rem;
                border-radius: 8px;
                background-color: $Red;
                margin-top: 1rem;
                cursor: pointer;
                border: 1px solid transparent;
                transition: 0.5s;
                &:hover{
                    border-color: $White;
                }
            }
        }
    }
    .image-container{
        position: absolute;
        right: 130px;
        img{

        }
    }
}
